<div id="{{uniqueId}}" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of images let i = index" [ngClass]="{'active' : i == 0}">
            <img class="d-block img1" [src]="image" [alt]="askjbjdasbcxhjbsd">
        </div>
    </div>
    <div *ngIf="images.length>1">
        <a class="carousel-control-prev" href="#{{uniqueId}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{uniqueId}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>